.wrapper {
  max-width: 1280px;
  background: #000000;
  margin: 0 auto;
  color: white;
  display: flex;
  justify-content: center;
}

.header__title {
  margin-bottom: 200px;
}

.bookingform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.buttons__container {
  display: flex;
  gap: 30px;
}

.bookingform-select__wrapper {
  display: flex;
  align-items: center;
 
}

.bookingform__select {
  margin-left: 20px;
}

.bookingform__input {
  margin-left: 20px;
}

.bookingform__label {
  width: 150px;
  display: block;
}

